# Ignore virtual environment folder
venv/

# Ignore any log or database files
*.db
*.log

# Ignore temporary files from code editors
*.pyc
__pycache__/

# Ignore folders from code editors
SRS_doc.txt

# Ignore folders from code editors
build/
data/
